# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/WebApp/node_modules

# testing
/coverage

# production
/WebApp/build
/WebApp/dist

#build-container
/build-container

# misc
.DS_Store
/WebApp/.env
/WebApp/.env.*
/WebApp/npm-debug.log*
/WebApp/yarn-debug.log*
/WebApp/yarn-error.log*
/WebApp/yarn.lock
.vscode
